.boldTop {
  justify-content: center;
  color: black;
  text-align: center;
  font-size: 150%;
}

.inputArea {
  height: 4in;
  transform: scale(1.5);
  transform-origin: top left;
  border-color: white;
  width: 65%;
}

.tablePreviews {
  height: 8in;
  overflow: scroll;
  background-color: #fff;
  border: 1px solid #ccc;
}

.rightBorder {
  background-color: #fff;
  border: 1px solid #ccc;
}

.tablePreviews tr,
td {
  background-color: #fff;
  border: 1px solid #ccc;
}

.cardStyling {
  width: 100%;
}

.topPart {
  position: sticky;
  top: 0;
  background-color: white;
  opacity: 1;
  height: 60px;
  font-size: 200%;
  border-bottom: 1px solid grey;
}

.putLeft {
  align-items: left;
}

.activeCard {
  background-color: rgb(47, 8, 84);
  color: white;
}

.cardStyle {
  height: 120px;
  overflow: hidden;
  border-bottom: 1px solid grey;
}

.titleArea {
  border: 1px solid grey;
  height: 100px;
}

.buttonsStyle {
  background-color: white;
  color: rgba(27, 23, 23, 0.734);
  border-style: hidden;
  padding-right: 30px;
  font-size: 120%;
}
.buttonsStyle:hover {
  background-color: rgb(47, 8, 84);
}

.biggerT {
  transform: scale(2);
}

.inputStyle {
  border-style: hidden;
  height: 60px;
  font-size: 200%;
  border-color: white;
}
.inputStyle:focus {
  outline: none;
}
